src/main/app/accounts-transactions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:request-config name="Accounts_HTTP_Request_Configuration" host="accounts-api-aly-sandbox.us-e2.cloudhub.io" port="80" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange/api/v1/organizations/5d65b238-4c17-4adf-86dd-186177e994de/assets/5d65b238-4c17-4adf-86dd-186177e994de/accounts-api/1.0.1/api/root"/>
    </http:request-config>
    <http:listener-config name="Accounts_Transactions_HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/accounts-transactions" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Transactions_Web_Service_Consumer" wsdlLocation="http://apdev-accounts-ws.cloudhub.io/api/transactions?wsdl" service="TransactionServiceService" port="TransactionServicePort" serviceAddress="http://apdev-accounts-ws.cloudhub.io/api/transactions" doc:name="Web Service Consumer"/>
    <flow name="accounts-transactionsFlow">
        <http:listener config-ref="Accounts_Transactions_HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="accountsSub_Flow" doc:name="accountsSub_Flow"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="aef8d2cc-8f52-4525-bfce-96579e468810">
            <dw:input-payload doc:sample="sample_data\list_json_15.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://training.mulesoft.com/
---
{
	ns0#GetTransactionsforCustomers: {
		(payload.id map {
			customerID: $.id
		})
	}
}]]></dw:set-payload>
            <dw:set-variable variableName="accounts"><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="transactionsSub_Flow" doc:name="transactionsSub_Flow"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	accounts: flowVars.accounts,
	transactions: payload[0].*transaction
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="accountsFlow">
        <http:listener config-ref="Accounts_Transactions_HTTP_Listener_Configuration" path="/accounts" allowedMethods="GET" doc:name="/accounts"/>
        <flow-ref name="accountsSub_Flow" doc:name="accountsSub_Flow"/>
    </flow>
    <flow name="transactionsFlow">
        <http:listener config-ref="Accounts_Transactions_HTTP_Listener_Configuration" path="/transactions" allowedMethods="GET" doc:name="/transactions"/>
        <flow-ref name="transactionsSub_Flow" doc:name="transactionsSub_Flow"/>
    </flow>
    <sub-flow name="accountsSub_Flow">
        <http:request config-ref="Accounts_HTTP_Request_Configuration" path="/accounts" method="GET" doc:name="/accounts" metadata:id="799e5a41-1410-4295-a0c3-d29af34231d3">
            <http:request-builder>
                <http:query-param paramName="type" value="#[(message.inboundProperties.'http.query.params'.type == empty)? &quot;business&quot; : message.inboundProperties.'http.query.params'.type]"/>
                <http:query-param paramName="name" value="#[(message.inboundProperties.'http.query.params'.name == empty)? &quot;Max&quot; : message.inboundProperties.'http.query.params'.name]"/>
                <http:query-param paramName="country" value="#[(message.inboundProperties.'http.query.params'.country == empty)? &quot;USA&quot; : message.inboundProperties.'http.query.params'.country]"/>
                <http:header headerName="Requester-ID" value="asdf"/>
            </http:request-builder>
        </http:request>
    </sub-flow>
    <sub-flow name="transactionsSub_Flow">
        <ws:consumer config-ref="Transactions_Web_Service_Consumer" operation="GetTransactionsforCustomers" doc:name="GetAllTransactions"/>
    </sub-flow>
</mule>
